<h2>Liste des traitements du patient : {{patient.firstName}} {{patient.lastName}}</h2>
<p class="secondary-informations">Age : {{patient.age}}, Genre : {{patient.gender}}</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>
  
    <!-- Start Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Début </th>
      <td mat-cell *matCellDef="let element"> {{element.start | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <!-- End Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.end | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <!-- Doctor Column -->
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef> Médecin </th>
      <td mat-cell *matCellDef="let element"> {{element.doctor.firstName}} {{element.doctor.lastName}} ({{element.doctor.speciality}}) </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Retirer le traitement" (click)="onDeleteTreatment(element)">
            <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="list-item"></tr>
</table>

<button mat-fab class="fab-btn" color="primary" aria-label="Ajouter un traitement" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
